<!-- FIXME Arreglar el scroll del sidebar -->
<nav class="navbar navbar-expand d-flex flex-column aling-item-start bg-primary" id="sidebar">
    <a href="/" class="navbar-brand text-light mt-5">
        <div class="display-5 font-weight-bold"> <i class="bi bi-graph-down" style="font-size: 10rem; color: white;"></i> </div>
    </a>
    <ul class="navbar-nav d-flex flex-column mt-5 w-100">
        <li class="nav-item w-100 pb-3">
            <a href="/" class="nav-link text-light">Pagina Principal</a>
        </li>
        <li class="nav-item w-100 pb-3">
            <a href="/create-administrator" class="nav-link text-light">Crear Adiministradores</a>
        </li>
        <li class="nav-item w-100 pb-3">
            <a href="/administrators-list" class="nav-link text-light">Lista de Administradores</a>
        </li>
        <li class="nav-item w-100 pb-3">
            <a href="/collaborators-list" class="nav-link text-light">Lista de Colaboradores</a>
        </li>
        <li class="nav-item w-100 pb-3">
            <a href="#" class="nav-link text-light">Analitica</a>
        </li>
        <!-- TODO Colocar logout en el bottom de la pagina -->
        <li class="nav-item w-100 pb-3">
            <a href="/logout" class="nav-link text-light">Logout</a>
        </li>
    </ul>
</nav>